// valid and required show green
input.ng-valid[required] {
  border-left: 5px solid #42A948;
}

// invalid
input.ng-invalid {
  border-left: 5px solid #a94442;
}

// error
.error {
  padding: 12px;
  background-color: rgba(255, 0, 0, 0.2)
}
